/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

.page-container {
  padding: 20px;
  background-color: #f8f8f8;
  /* 页面背景色 */
  min-height: 100vh;
  box-sizing: border-box;
}